.needle {
  margin: 2.5rem 0;
}

.postedAt {
  color: var(--color-accent-text);
  font-weight: 900;
}

.title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 900;
}

.titleAnchor:hover {
  text-decoration: underline;
}
