.detail {
  margin: 1rem 0;
}

.heading {
  margin: 1.5rem 0 3rem;
}

.postedAt {
  color: var(--color-accent-text);
  font-weight: 900;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 900;

  @media (max-width: 600px) {
    font-size: 1.6rem;
  }
}

.body {
  margin: 1.5rem 0;

  a {
    text-decoration: underline;
  }

  p {
    margin: 1.5rem 0;
  }

  ul,
  ol {
    margin: 1.5rem 0;
    padding-left: 2rem;

    ul,
    ol {
      margin: 0;
    }
  }

  li {
    margin: .5rem 0;
  }

  h2,
  h3,
  p,
  li {
    code {
      color: var(--color-accent-text);
      font-family: var(--font-family-mono);
    }
  }

  h2 {
    margin: 3rem 0 1.5rem;
    font-size: 1.6rem;
    font-weight: 900;

    &::before {
      content: '##';
      display: block;
      color: var(--color-main-shallow);
    }
  }

  h3 {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    font-weight: 900;

    &::before {
      content: '###';
      display: block;
      color: var(--color-main-shallow);
    }
  }

  img {
    margin: 2rem 0;
    border-radius: var(--radius-base);
    box-shadow: 0 .5rem 4rem 0 var(--color-main-shallow);

    @media (max-width: 600px) {
      border-radius: 0;
    }
  }

  blockquote {
    margin: 2rem -1.5rem;
    padding: 1rem 1.5rem;
    border-radius: var(--radius-base);
    box-shadow: 0 .5rem 4rem 0 var(--color-main-shallow);
    font-size: .8rem;

    @media (max-width: 600px) {
      margin: 2rem calc(var(--spacer) * -1);
      padding: 1rem;
      border-radius: 0;
    }

    p {
      margin: .5rem 0;
    }
  }

  pre {
    margin: 0 !important;
    padding: 0 !important;

    @media (max-width: 600px) {
      margin: 0 calc(var(--spacer) * -1) !important;
      padding: 0 !important;
      border-radius: 0 !important;
    }

    pre {
      margin: 2rem -1.5rem !important;
      padding: 1rem 1.5rem !important;
      border: 0 !important;
      border-radius: 4px !important;
      box-shadow: 0 .5rem 4rem 0 var(--color-main-shallow) !important;
      font-family: var(--font-family-mono);
      font-size: .8rem !important;
      line-height: 1.25rem !important;

      @media (max-width: 600px) {
        margin: 0 0 !important;
        padding: 1rem calc(var(--spacer) * 2) !important;
        border-radius: 0 !important;
      }
    }
  }
}
