::-moz-selection {
  background: var(--color-accent-text);
  color: #fff;
}

::selection {
  background: var(--color-accent-text);
  color: #fff;
}

::placeholder {
  color: var(--color-main);
}

:root {
  --font-family-mono: menlo, monospace;
  --color-main: #2f163b;
  --color-main-shallow: rgba(47, 22, 59, .2);
  --color-main-border: rgba(47, 22, 59, .1);
  --color-base-text: #2f163b;
  --color-accent-text: #fb7963;
  --radius-base: 18px;
  --spacer: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-base-text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: var(--color-base-text);
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}

figcaption,
figure,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

iframe {
  display: block;
  border: 0;
}
